.homepage {

	#main-menu {
		position: relative;
		top: 80px;
		background: $color-menu;

	}
	#main-body {margin-top: 30px;}
}

@media only screen and (max-width: 767px) {

    /* Homepage specific */
    #action .buttons a.actions {
        width: 100%;
    }
}